[2022-01-06 04:05] andelf opened #1 "Feature Request: skip commit to master, build only"
If it can skip commit to master, build only,
Then I can use https://github.com/JamesIves/github-pages-deploy-action to deploy to another branch.
😆

[2022-01-06 07:20] pengx17 commented on #1
Cool! I am going to add it as an option soon.

[2022-01-06 14:39] pengx17 commented on #1
It looks like I can safely remove all Git commands and let [JamesIves/github-pages-deploy-action](https://github.com/JamesIves/github-pages-deploy-action) do the remaining work.
I migrated to my demo graph in the new approach. [It worked](https://github.com/pengx17/knowledge-garden/blob/main/.github/workflows/main.yml) pretty well. In this way, the [graph's source main branch is much cleaner](http

[2022-01-06 14:54] #1 closed, assigned to pengx17

[2022-01-07 08:27] Xuanwo opened #2 "How to run logseq-publish inside vercel?"
Hi, is it possible to run logseq-publish inside vercel directly?

[2022-01-07 08:29] Xuanwo commented on #2
Based on [Does Vercel support Docker deployments?](https://vercel.com/support/articles/does-vercel-support-docker-deployments), we can't run `docker build` inside vercel.

[2022-01-07 09:13] pengx17 commented on #2
Hmm,  if there is no Docker daemon running in the build step of Vercel, then I think it is not possible to do publish alone in Vercel.
I think eventually you need to find a CI environment that can run Docker build, e.g., GitHub Action, to commit & push to a different branch in the current repo, and let Vercel to serve that static branch.

[2022-01-07 10:22] Xuanwo commented on #2
Can we "split" the data export logic from `logseq` GUI or `Electron` extirely so that we can use it as js package or cli? I think that maybe more flexible.

ping @tiensonqin for advice.

[2022-01-07 10:55] pengx17 commented on #2
In my first attempt I do try to port the logic from cljs to is, but it seems too hard for me. I explained it in this page https://pengx17.github.io/knowledge-garden/#/page/logseq%20publish%20github%20action

I think logseq team will eventually have an official cli for publishing feature, but not too soon.

[2022-01-10 06:23] Xuanwo opened #3 "Logseq publish seems broken"
Today's new updates seems wrong:

![image](https://user-images.githubusercontent.com/5351546/148725446-b8c50222-82d9-4cec-bf99-9dd4316bb3c7.png)

Changes introduced in https://github.com/Xuanwo/Xuanwo/commit/65ebd20b70853dd65ff6ccf0905a9ce2aaceb781

[2022-01-10 08:06] pengx17 commented on #3
Let me take a look

[2022-01-10 11:20] Xuanwo commented on #3
The latest build works!

[2022-01-10 11:46] Xuanwo commented on #3
Still have issues: https://xuanwo-qd53elbfv-xuanwo.vercel.app/

The whole graph seems gone.

[2022-01-10 11:50] pengx17 commented on #3
Sorry, I am still trying to find out the issue. Will let you know if it is fixed

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Xuanwo ***@***.***>
发送时间: Monday, January 10, 2022 7:46:56 PM
收件人: pengx17/logseq-publish ***@***.***>
抄送: Peng Xiao ***@***.***>; Comment ***@***.***>
主题: Re: [pengx17/logseq-publish] Logseq publish seems broken (Issue #3)

Still have is

[2022-01-10 14:21] pengx17 commented on #3
Looks like the publish script exits too early before finishing. Can you try again with new version `v0.1`? @Xuanwo

[2022-01-10 14:37] Xuanwo commented on #3
It works well now!

[2022-01-11 05:26] Xuanwo commented on #3
Seems not totally fixed: https://github.com/Xuanwo/Xuanwo/commit/fd01c04567ebe4ca7f1b33ab6bd1503ae3340df5

:sob:

[2022-01-11 05:29] Xuanwo commented on #3
Maybe causes by: https://github.com/Xuanwo/Xuanwo/runs/4771174251?check_suite_focus=true#step:3:21

We are using the wrong image.

[2022-01-11 06:13] pengx17 commented on #3
@Xuanwo Sorry, I am a bit busy today - can I take a look later tonight?

[2022-01-11 06:27] Xuanwo commented on #3
Of course, just look it when you have time. Do not let this interfere with your daily work.

[2022-01-11 08:59] pengx17 commented on #3
Looks like this may be related to https://github.com/pengx17/logseq-publish/commit/3ac5d64fc8a26ebb3b6f76ecf576001470dfc993. I did not check if publishing is finished or not correctly ...

[2022-01-11 11:10] pengx17 commented on #3
Fixed another issue when loading graph. in

[2022-01-11 11:50] pengx17 commented on #3
- Fixed an issue when loading graph in 0cf27e5
- fix an issue when the dest folder already exists https://github.com/pengx17/logseq-publish/commit/bfdc218c4d09538d370a353cf4cf2b7c83f42870

[2022-01-12 06:41] Xuanwo opened #6 "Add integration test for this action"
logseq-publish only support root folder as input so far, in order to support running test, we need to support user input graph dir.

I prefer to add a `graph` input.

[2022-01-12 06:41] pengx17 commented on #3
Is the issue resolved for you with the latest changes? @Xuanwo

[2022-01-12 06:44] pengx17 commented on #6
I have invited you as the repo collaborator for convenience. Thanks for your contributions!

[2022-01-12 06:45] Xuanwo opened #7 "Add debug support"
We will generate a `trace.zip` for debugging and we used to copy it to input `graph`.

Maybe we can upload it as action artifacts so that developers can know what happened.

And we can add a `debug` input which default to `false` so that user can control this logic.

[2022-01-12 06:46] Xuanwo commented on #3
Works well so far. I will close this issue at the end of today! :+1:

[2022-01-12 14:32] Xuanwo commented on #3
The action works well through the whole day, let's close this issue!

[2022-01-12 14:32] #3 closed, assigned to nobody

[2022-01-12 14:41] pengx17 commented on #3
I still see two failed runs in https://github.com/Xuanwo/Xuanwo/actions . Strange 😅

[2022-01-12 14:49] Xuanwo commented on #3
Well, it's much better than deploy an empty page successfully...

Let's track this problem in another issue.

[2022-01-12 14:50] Xuanwo opened #8 "Action running with timeout"
Sometimes this action will exit with error timeout:

https://github.com/Xuanwo/Xuanwo/runs/4790266447?check_suite_focus=true

![image](https://user-images.githubusercontent.com/5351546/149163210-d3b01823-fad7-45ec-bdcc-3b43ba0b9e19.png)

Related to https://github.com/pengx17/logseq-publish/issues/3#issuecomment-1011114108

[2022-01-12 14:55] pengx17 commented on #8
I made a change to and export the trace.zip even it timeout
https://github.com/pengx17/logseq-publish/commit/a622d7f5022843c46b738ecb3a20797db76547b7

[2022-01-12 15:07] Xuanwo commented on #8
OK, I will attach the `trace.zip` here if I meet timeout again.

[2022-01-12 15:11] pengx17 commented on #8
I try to re-run multiple times https://github.com/pengx17/knowledge-garden/actions/workflows/main.yml
Seems it did not timeout so far 😅.

[2022-01-13 06:59] Xuanwo commented on #8
Reproduced: https://github.com/Xuanwo/Xuanwo/runs/4799772733?check_suite_focus=true

Oh, but this action runs using old versions..

[2022-01-13 07:01] Xuanwo commented on #8
I update my workflows to help reproduce this issue:

![image](https://user-images.githubusercontent.com/5351546/149281342-31b36b1b-4d14-4214-88d6-43647ce1a17a.png)

[2022-01-14 06:23] Xuanwo commented on #8
Wired, it seems `trace.zip` not generated correctly: https://github.com/Xuanwo/Xuanwo/runs/4813142697?check_suite_focus=true

[2022-01-14 07:31] pengx17 commented on #8
I will take a look later

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Xuanwo ***@***.***>
发送时间: Friday, January 14, 2022 2:23:37 PM
收件人: pengx17/logseq-publish ***@***.***>
抄送: Peng Xiao ***@***.***>; Comment ***@***.***>
主题: Re: [pengx17/logseq-publish] Action running with timeout (Issue #8)

Wired, it seems trace.zip not generated correctly: https://github.com

[2022-01-14 15:15] pengx17 commented on #8
Seems I forget to rebuild the docker image 🙃

[2022-01-15 15:25] le1smo opened #9 "Page is missing on published web"
I use this plugin to publish my logseq notes.
The problem is described as below, and I don't know whether it's the problem of this plugin or not. Can you take a look?
I can't find [This Page](https://github.com/oops-lgtm/anotherNotes/blob/main/pages/MySQL%E7%9A%84Derived%20Table%E7%9A%84Name_resolution_context%E7%9A%84%E7%AE%A1%E7%90%86.md) in [My own logseq page](https://oops-lgtm.github.io/anoth

[2022-01-15 15:30] le1smo commented on #9
Sorry, This page appears some minutes later.

The page is really not found at the time I look at the web page when ci is finished.

[2022-01-15 15:40] pengx17 commented on #9
There are two CI workflows, one for publish and one for pages deploy. I guess you checked your page during the second action.

[2022-01-16 01:42] pengx17 commented on #9
Close for now. Feel free to re-open it.

[2022-01-16 01:42] #9 closed, assigned to nobody

[2022-01-16 02:01] pengx17 commented on #8
<img width="1410" alt="截屏2022-01-16 上午9 41 45" src="https://user-images.githubusercontent.com/584378/149644060-39cf829d-eece-4914-9b94-64158198fe24.png">

I tested the publish function using a scheduled GitHub action. It looks like export does fail sometimes. I looked into the trace screenshot and see that it seems in fact graph LOADING fails.

[2022-01-16 02:01] pengx17 commented on #8
Maybe I start the graph loading too early?
Tried a fix in https://github.com/pengx17/logseq-publish/commit/cdce58f61ec8067f2b7c4041d5040930254ee23e, and as a result, publish action has been working properly for 7 hours (28 runs).

[2022-01-17 01:54] pengx17 commented on #8
The issue might be that Logseq cannot load a graph too early when app is initializing. Should not be a problem in the real world, but could be an issue for automation.

[2022-01-17 06:04] Xuanwo commented on #8
Maybe we need help for logseq team. For example, can they trigger an event after app initialized / load finished / load succeed?

[2022-01-17 06:15] pengx17 commented on #8
Usually, for UI testing, it is a common best practice to depend on visual UI elements, like text, icons, aria labels etc. The fix in https://github.com/pengx17/logseq-publish/commit/cdce58f61ec8067f2b7c4041d5040930254ee23e did try to testify if the loading spinner is still shown to see if the app is still initializing.
The load success event in Logseq is a non-platform-agonistic native dialog, but

[2022-01-17 11:31] pengx17 commented on #8
I think the issue has been fixed. I will close it for now. Feel free to reopen it or create a new one.

[2022-01-17 11:31] #8 closed, assigned to nobody

[2022-01-21 12:56] le1smo commented on #9
hi @pengx17
can you take a look at [This Page](https://oops-lgtm.github.io/anotherNotes/#/page/MySQL%E7%9A%84Derived%20Table%E7%9A%84Name_resolution_context%E7%9A%84%E7%AE%A1%E7%90%86)

the draw is not appear

[2022-01-22 10:11] pengx17 commented on #9
I have not used `/draw` command before. This should be an upstream issue on Logseq itself that excalidraw asset is not being correctly handled in the published version. I will take a look later.

[2022-01-25 02:18] le1smo commented on #9
need I file an issue in the `logseq` repo?

[2022-01-25 02:24] pengx17 commented on #9
Yes, please :)

[2022-02-01 15:38] aiyou9 commented on #2
https://render.com/ can run docker， and its doc is https://render.com/docs/docker

[2022-02-01 16:14] WsinGithub opened #14 "pages下的.md无法正确写入index.html"
下载并测试了下 knowledge-garden，可以正确发布。

而使用我自己之前的库，action过程显示正常，也能走完全流程，
但发现生成的gh-pages下面的index.html实际上没有写入内容，不清楚哪里出了问题...
![图片](https://user-images.githubusercontent.com/55137994/152006213-0825157c-6bd0-4805-a807-86cdd9d1958e.png)

[2022-02-01 16:16] WsinGithub commented on #14
https://github.com/WsinGithub/myLogseqPublicPages
把我这个测试库公开了下，不知是否能帮助排查问题 =)

[2022-02-01 16:22] WsinGithub commented on #14
也许是我这个库坏掉了...我用app导出的html也是空的，我重开一个库吧嘤嘤嘤

[2022-02-01 16:22] #14 closed, assigned to nobody

[2022-02-02 02:23] WsinGithub opened #15 "如何在流程中对导出HTML的进行额外操作？"
目前导出页面的公式渲染有问题，或者更深层地，
/js下的脚本（包括渲染公式的katex.js）的加载有问题？
这应该是logseq的bug，但我反馈了几个月了也没回应...应该不是当前工作重点吧...

以下是需求：
如何在action中进行修改，实现在导出的HTML的`<head>`标签内自动化写入以下信息？
[code]
以实现渲染公式的目的，感谢！

[2022-02-02 07:16] Xuanwo commented on #2
This inspired me a lot.

Vercel's git integration is so smooth that we forget `vercel` could be run directly!

I managed to run `vercel` in github action to do deployment, and we don't need `gh-pages` branch any more!

## Workflow

https://github.com/Xuanwo/Xuanwo/blob/master/.github/workflows/publish.yml

![image](https://user-images.githubusercontent.com/5351546/152110312-492f27ac-35f2-4988-88ae

[2022-02-02 13:46] aiyou9 opened #16 "功能建议：网页访问数量统计功能的嵌入"
希望部署网页能够有访问量统计，找到以下工具，只要粘贴两行代码既可，但不知道怎么在logseq和logseq-publish中实现

 工具链接：https://busuanzi.ibruce.info/

[2022-02-03 14:18] pengx17 commented on #16
理论上只要对logseq生成出来的index.html文件做一点修改就行，可以自己在这个publish action结束后，写一个step，修改一下html的内容，把需要的脚本加进去
________________________________
发件人: Simen Chen ***@***.***>
发送时间: Wednesday, February 2, 2022 9:46:58 PM
收件人: pengx17/logseq-publish ***@***.***>
抄送: Subscribed ***@***.***>
主题: [pengx17/logseq-publish] 网页访问数量统计功能的嵌入 (Issue #16)

希望部署网页能够有访问量统计，找到以下工具，只要粘贴两行代码既可，但不知道怎么在logseq和logseq-publish中实现

工具链接：https

[2022-02-03 17:44] #16 closed, assigned to nobody

[2022-02-04 05:16] pengx17 commented on #2
Wow, vercel is rocking! Glad you have all the publish related configurations are managed in the same place
________________________________
发件人: Xuanwo ***@***.***>
发送时间: Wednesday, February 2, 2022 3:16:51 PM
收件人: pengx17/logseq-publish ***@***.***>
抄送: Peng Xiao ***@***.***>; Comment ***@***.***>
主题: Re: [pengx17/logseq-publish] How to run logseq-publish inside vercel? (Issue #2)

https://render

[2022-02-05 06:00] Xuanwo commented on #15
增加一个 action，使用 `sed` 等工具修改 `index.html` 即可，比如

[code]

[2022-02-06 04:26] aiyou9 commented on #2
wOw, thank for your all work，that’s great，as I know vercel with a power running environment，it can run php as this work created：<https://github.com/juicyfx/vercel-php>, but now  I want advise a test app docker run site free for 1 year ：https://www.pikapods.com/   but @pengx17 may try to applying to add this open source project to pikapods. just an advise

[2022-02-06 04:31] aiyou9 commented on #15
thanks a lot,  I also want to rewrite the index.html. the github action is just a linux run environment， so everything can try in linux way，wOw！

[2022-02-06 04:34] aiyou9 commented on #16
see #15
 @ Xuanwo advise a good way

[2022-02-06 04:47] aiyou9 opened #17 "功能建议：添加基于 github issue的评论功能"
https://blog.csdn.net/weixin_33713350/article/details/88986011

已有实现的开源库：
https://github.com/imsun/gitment
https://github.com/gitalk/gitalk

[2022-02-06 08:54] Xuanwo commented on #15
Closed for resolved.

[2022-02-06 08:54] #15 closed, assigned to nobody

[2022-02-08 19:03] aiyou9 commented on #2
I try directly publish to vercel，I feel it is maybe slower than creating gh-pages

[2022-02-09 03:02] pengx17 commented on #2
I feel like using GitHub Actions to publish Logseq graph could cover most use cases. You (@aiyou9) could integrate the Dockerfile in your workflow easily with pikapods.com if you want :)

I am closing the issue now.

[2022-02-09 03:02] #2 closed, assigned to nobody

[2022-02-09 03:06] pengx17 commented on #17
增加评论功能意味着要在任意一个页面（主页面或者侧边栏页面卡片）中都通过外部SDK渲染一个iframe进去，这种功能通过修改 logseq 导出的 html/js 是很难实现的。也就是说，这个功能属于上游 Logseq 本身的支持。

[2022-02-09 03:10] #17 closed, assigned to nobody

[2022-02-09 03:12] pengx17 commented on #14
不好意思，我这边刚有时间看，希望问题已经解决了

[2022-02-09 03:32] aiyou9 opened #18 "ask for a new function: how to short the logseq blog website by logseq-publish"
l write the title in chinese, so the website is so long, when l share it，I feel it is not elegance，so how to short it？ can logseq-publish help it？

my website is https://imap.vercel.app/#/page/%E5%8D%A1%E7%89%87%E7%9B%92%E7%AC%94%E8%AE%B0%E6%B3%95%E7%9A%84%E6%80%9D%E8%80%83%E4%B8%8E%E5%AE%9E%E8%B7%B5

[2022-02-09 03:50] WsinGithub commented on #14
解决了！是我之前的打开方式有问题。很好用，谢谢大佬！

[2022-02-09 04:21] Xuanwo commented on #18
No, it can't. Please submit to logseq instead.

[2022-02-09 06:30] #18 closed, assigned to nobody

[2022-03-07 11:37] MAJA-Lin opened #19 "Is it possible to add custom.css file during the action?"
Hi,
I tried to add one more step in the github action like this:

[code]

But  got a permission denied error:

[code]

As I followed the [instruction](https://github.com/actions/checkout/issues/211#issuecomment-680125896) to change my .yml file, another error occurred:

[code]

Is it possible to overwrite `static/css/custom.css` file or include it in the step?
Thank you.

[2022-03-08 03:39] pengx17 commented on #19
Should have been fixed by https://github.com/pengx17/logseq-publish/releases/tag/0.1.6.
The issue is that the user in Docker will be using `root`. I added a new step in the action.yml to make sure all files are owned by the current user (`runner`).

Can you try again?

[2022-03-08 03:49] MAJA-Lin commented on #19
It works perfectly for me.
Thanks a lot!

[2022-03-08 03:49] #19 closed, assigned to nobody

[2022-03-08 06:50] Xuanwo opened #20 "Plugins Support"
If I installed a plugin locally, will `logseq-publish` load it or not?

[2022-03-08 06:54] pengx17 commented on #20
No. Plugins are not supported without the desktop app because of some browser-related restrictions and they do not take any effects when published.

[2022-03-08 08:08] Xuanwo commented on #20
Sad.

[2022-03-08 08:08] #20 closed, assigned to nobody

[2022-03-10 10:59] ethinx opened #22 "page.waitForSelector: Timeout 900000ms exceeded"
The pipeline was failed in recent two days, not sure what happened, please refer to the action output:

[code]

[2022-03-10 13:15] pengx17 commented on #22
Hi @ethinx , is your graph public that I can take a look/

[2022-03-10 14:30] ethinx commented on #22
hmm...I find all the public pages out, reindex in an independent repo, you could take a look

https://github.com/ethinx/debug

[2022-03-11 01:53] pengx17 commented on #22
@ethinx  I tried out graph you provided and I can successfully run the action on it: https://github.com/pengx17/debug/runs/5505233089?check_suite_focus=true

Can you try to export manually on your desktop App and see if it can success or not?

[2022-03-12 05:06] ethinx commented on #22
Hi @pengx17

Export public pages through latest 0.6.3 desktop app works well and it's done quickly. The problem may be in the private pages... not sure if the action trace log could help

[trace-extra.zip](https://github.com/pengx17/logseq-publish/files/8237090/trace-extra.zip)

[2022-03-14 05:51] pengx17 commented on #22
Hi @ethinx ,
I checked the trace log and it seems the old error in the log is related to `ERR_INSUFFICIENT_RESOURCES`. However since I cannot reproduce the issue, I may need to time to investigate the root cause ...

[2022-03-18 01:43] ethinx commented on #22
@pengx17 Not sure what happened, it's back to normal these two days...please let me know if you want any information, or feel free to close the issue.

[2022-03-28 16:50] Ahacad opened #24 "Is private/public setting supported?"
Hi, I am not very familiar with logseq deployment issues, but I see the `make it public for publishing` button in Logseq Desktop, and there are pages I'd rather keep to myself. Is this private/public setting supported in this auto page-building process? Say private pages not published.

[2022-03-29 00:37] pengx17 commented on #24
It would use the current publishing settings and will behave just like exporting your graph manually on the desktop app.
Your private pages would not be exposed, but I cannot guarantee this because it's the logseq responsibility anyway.

[2022-03-29 19:57] Ahacad commented on #24
Thank you, I've tried and yes, it will only publish public pages. Closing the issue.

[2022-03-29 19:57] #24 closed, assigned to nobody

[2022-04-13 08:27] pengx17 opened #25 "Logseq failed to build in GitHub Actions / Docker"
https://github.com/pengx17/logseq-publish/actions/runs/2159650308
not sure why `make` is not found in the `rebuild step`

[2022-04-14 02:41] #22 closed, assigned to nobody

[2022-04-14 10:00] Xuanwo opened #28 "Page built failed: page.waitForFunction: Timeout 30000ms exceeded."
The page has been built and failed since today.

They failed for the same reason three times, so I believe it's not a random error.

[code]

The failed actions: https://github.com/Xuanwo/Xuanwo/runs/6021991755?check_suite_focus=true

---

For friends jumps into this issue:

**Quick workaround: use `version: 0.6.5` instead.**

[2022-04-14 10:06] pengx17 commented on #28
Let me take a look. Seems the new publish script is still broken somehow.

[2022-04-14 10:10] Xuanwo commented on #28
I found it hard to debug now:

- We can't specify the version of logseq-publish to use (always use `main`)
- Historic logseq-publish images are not tagged, we have to use image hash instead

[2022-04-14 10:11] Xuanwo commented on #28
There are three parts that keep changing...

- build scripts
- build image
- logseq itself

[2022-04-14 10:11] pengx17 commented on #28
Can you please use Logseq version 0.6.5 for now? This should be mostly stable I suppose.
e.g.,
[code]

[2022-04-14 10:17] pengx17 commented on #28
Your points are totally valid. We may need a better strategy to handle different versions across script/image/logseq.

I suppose the publish.mjs script should be kept updated with Logseq since the UI selectors may change. hash tag versions should always be available.
I am not sure what about the Action version itself. It seems to be only related to the `action.yml` right now, which is mostly never

[2022-04-14 10:19] Xuanwo commented on #28
Ooops

https://github.com/pengx17/logseq-publish/blob/1488709168d78dba102632cdfa005992b71973cf/action.yml#L35

Makes us can't use hashed images like:

[code]

[2022-04-14 10:20] Xuanwo commented on #28
Version 0.6.5 works as expected: https://github.com/Xuanwo/Xuanwo/runs/6022272514?check_suite_focus=true

[2022-04-14 10:21] pengx17 commented on #28
I think it is still possible by setting it this way:

[code]
🤔

[2022-04-14 10:23] pengx17 commented on #28
Glad to see it works with the old/stable version. I will replace the `master` tag to `0.6.5` for now ...
Anyway, I will take some time working on this fork first to see how to fix the new publish.mjs script

[2022-04-14 10:24] Xuanwo commented on #28
Negative.

[code]

[2022-04-14 10:26] Xuanwo commented on #28
Thanks for the quick response! Let's use the stable version of logseq as default.

And I will take it a look too when I'm free.

[2022-04-14 10:26] pengx17 commented on #28
Ops .. yeah, I forgot there is a ":" in the place. shit.

[2022-04-14 10:42] #25 closed, assigned to nobody

[2022-04-14 11:05] pengx17 commented on #28
I revised the publish script and published the `logseq-publish` with `nightly` tag and tried it in this action
https://github.com/pengx17/Xuanwo/actions/runs/2166778252

It seems the new release should work now.
I will hold to stick master to logseq 0.6.5. Will see if there are any failed actions for some time.

[2022-04-14 11:32] liby commented on #28
I'll give it a try.

[2022-04-15 01:34] pengx17 commented on #28
I am pushing a new master tag using the latest script. It shows that it is now pretty stable according to https://github.com/pengx17/Xuanwo/actions that there are no failed runs since I changed the waiting logic.

[2022-04-15 01:41] Xuanwo commented on #28
Seems fixed, let's close this issue. Thanks @pengx17!

[2022-04-15 01:41] #28 closed, assigned to nobody

[2022-04-23 14:42] liby opened #29 "Page built failed: page.click: Timeout 30000ms exceeded."
[code]
I've tried to retry but it still failed.

The failed actions: [liby/liby/runs/6140704859?check_suite_focus=true](https://github.com/liby/liby/runs/6140704859?check_suite_focus=true)

<img width="1025" alt="image" src="https://user-images.githubusercontent.com/38807139/164915616-21ceb061-44d4-43ab-a73f-883d71530ef1.png">

[2022-04-23 15:07] xutingzhou commented on #29
I have the same problem.

The failed action: https://github.com/xutingzhou/xutingzhou/runs/6140679053?check_suite_focus=true

I follow steps in #28 and try to change the version, but it still did not work.

[2022-04-23 16:44] pengx17 commented on #29
@liby @xutingzhou Hi both of you, thanks for reporting! I cloned both of your graphs and load in my local nightly Logseq built, but both failed to load. I think this might be an upstream issue. Will need more time to investigate.

The following is the error message displayed:
<img width="1041" alt="截屏2022-04-24 00 45 08" src="https://user-images.githubusercontent.com/584378/164915480-f64a1131-d727

[2022-04-23 16:58] liby commented on #29
@pengx17
I tried to download the trace file from the action artifact and view it in the Playwright trace viewer. But it didn't work.

[2022-04-23 17:09] pengx17 commented on #29
I guess you directly open it via macOS Archive Utilty. It would recursively unzip the file for you, but we only need to unzip it once.

[2022-04-23 17:19] pengx17 commented on #29
I did a Git bisect on the Logseq history between 0.6.6 ~ master version, and it seems the first bad version is https://github.com/logseq/logseq/commit/79bc33e1e3bf628a92b934ff81f027e13de6b95e

[2022-04-23 17:26] liby commented on #29
@pengx17
Uh, There are so many changes to the code that it seems difficult to find suspicious parts. sigh~

[2022-04-23 17:31] pengx17 commented on #29
I will report this issue to @xyhp915 to take a look. Meanwhile I think you could replace version with `0.6.5`, which should work for you @liby and @xutingzhou

[2022-04-23 17:37] liby commented on #29
As @xutingzhou says, `0.6.5` [doesn't work.](https://github.com/liby/liby/runs/6141507571?check_suite_focus=true)

[2022-04-23 17:38] pengx17 commented on #29
I forgot the script in 0.6.5 is broken. Will rebuilt it and 0.6.6

[2022-04-23 17:50] pengx17 commented on #29
@liby 0.6.5 & 0.6.6 is up. Can you please try 0.6.6 this time?

[2022-04-23 17:56] liby commented on #29
Thank you. Great job. It [works](https://github.com/liby/liby/runs/6141594205?check_suite_focus=true).

[2022-04-23 22:59] xutingzhou commented on #29
YES!!!!  It works.

[2022-04-24 07:53] pengx17 commented on #29
This issue should have been fixed by https://github.com/logseq/logseq/pull/5061

[2022-04-24 07:53] #29 closed, assigned to nobody

[2022-04-24 09:17] Xuanwo opened #30 "logseq-publish seems doesn't respect journal/page-title-format"
https://github.com/Xuanwo/Xuanwo/blob/e6da1f851e84f1cc3461a3150d5ba045fdf73417/logseq/config.edn#L126

[code]

But the generated journals have links like

![image](https://user-images.githubusercontent.com/5351546/164969364-72ed8076-f823-4b3f-ad91-694024e690f1.png)

Any ideas for that?

---

Local export work correctly (also the theme's dark/light setting)

[2022-04-24 10:11] pengx17 commented on #30
🤔 I have no idea... But will spend some time reproduce locally and on a test github repo later. Thanks for reporting!

[2022-04-24 10:19] pengx17 commented on #30
My initial assumption is that:
- either Logseq itself has some bugs when running in a headless environment & exporting (🤔🤔)
- if load a brand new graph into Logseq, it may need some more steps to make sure the custom configs to take effect (🤔🤔🤔)

[2022-04-24 11:41] Xuanwo commented on #30
Create an issue at upstream to get some inputs: https://github.com/logseq/logseq/issues/5065

[2022-04-27 02:52] lgh06 opened #31 "All pages all data are stored on window.logseq_db"
All pages all data are stored on `window.logseq_db` , so how to prevent the html too big? Is there a way to lazy load / only load chunks required by one single note?

[2022-04-27 04:10] Xuanwo commented on #31
Negative.

Please submit an issue to upstream instead, `logseq-publish` itself can't change this behavior.

[2022-04-28 02:48] lgh06 commented on #31
For visitors who have my similar concerns:

I switched to Obsidian.md and [obsidian-html](https://github.com/obsidian-html/obsidian-html) .

publishing to web for public viewing is not a same thing with writing notes on local computer.

logseq is well for local notes, but not suitable for publishing public websites and lack SEO support, for now.

Like this site: https://note.xuanwo.io/ , its first

[2022-04-28 02:48] #31 closed, assigned to nobody

[2022-04-28 02:58] lgh06 commented on #31
Also, as this project is named `logseq-publish`, it should care about some html publish performance things in future,  as the [official publish](https://github.com/logseq/publish) seems dead for a long time.
just my personal advice.

[2022-04-28 03:09] pengx17 commented on #31
Glad to hear that you resolved your issues with obsidian.md.

This GitHub action is not maintained officially by the Logseq team but by the community. It is clear for many of us of the issues you pointed out, but my taste for my notes is to mirror what I see when I am working in a desktop app. I do not concern too much on SEO/marketing/growth etc.

You may want to checkout another community soluti

[2022-04-28 05:40] lgh06 commented on #31
thx. i will try .

[2022-05-13 12:11] liby commented on #29
This [issue](https://github.com/liby/liby/runs/6422300022?check_suite_focus=true) occurs again in the nightly version. Switch to 0.6.6 it works.

[2022-05-13 12:48] pengx17 commented on #29
@liby yes, please use the default provided version instead. The nightly version is not guaranteed to work.

[2022-05-15 11:37] Xuanwo opened #32 "Question: Static build of logseq like TuanManhCao/digital-garden"
Hi, @pengx17

I came across into project [TuanManhCao/digital-garden](https://github.com/TuanManhCao/digital-garden) recently. It's an Obisidian Publish alternative and seems we can adapt it a bit to make it works on logseq. Do you have an interest to make it happen?

Some already know limitations:

- Slow performance (even in production build), don't know why.
- `Query` is not supported. (We can

[2022-05-15 23:34] pengx17 commented on #32
This is very interesting and is what I want to achieve at the beginning.

I guess you ran [TuanManhCao/digital-garden](https://github.com/TuanManhCao/digital-garden) against a Logseq graph? I am surprised it would work for Logseq as well.

I went through briefly of how https://github.com/TuanManhCao/digital-garden [parsing the files](https://github.com/TuanManhCao/digital-garden/blob/561dc104a333b

[2022-05-21 04:49] Xuanwo opened #33 "Question: Static build of logseq via converting SPA"
This issue is a follow up of https://github.com/pengx17/logseq-publish/issues/32

Hi, I'm not familiar with the front end.

Is it possible to convert the SPA to static sites?

For example:

- `https://note.xuanwo.io/#/page/rust` => `https://note.xuanwo.io/rust`

[2022-05-21 05:58] pengx17 commented on #33
I guess you what you proposed is to pre-build each pages as static pages and so that they can be visited via file paths? The issue is that the real content of each page will still be empty when arrived at the user side, since React have not started rendering yet.

There is a common strategy which is called SSR in React eco-system, which takes any SPA rendering into in two passes, one in the server

[2022-05-21 06:46] Xuanwo commented on #33
Based on your experience, is it challenging to implement it?

[2022-05-21 08:19] pengx17 commented on #33
I would say it is more alike simulating SSR outside of the codebase. In the client side, the browser still needs to bind event listeners etc.
It is still very challenging, I guess even more chanlleging than implement a new parsing/rendering strategy from the ground up.

[2022-05-21 08:33] Xuanwo commented on #33
Sad.

Logseq's publish is really sucking- -

I don't know how could they achieve the vision with current publishing.

To me, everyone who visits `note.xuanwo.io` has to download the whole database (700KiB for db, 1.5MiB for main.js). Not to mention SEO, RSS and Sitemap...

[2022-05-21 08:40] pengx17 commented on #33
A year ago one member of the Logseq team was working on it, but the work has been suspended ever since. I believe they still have the eadger to make a lightweight publish solution, but they do not have the resource at the moment.

[2022-05-22 16:57] Xuanwo commented on #33
After trying other similar products (RoamResearch, Obsidian, TiddlyWiki, Notion, ...), I have to admit that LogSeq is still the best choice for me. This fact makes me even angrier: Why I don't understand Clojure, Javascript...

[2022-05-23 01:07] pengx17 commented on #33
I believe it will come eventually, but not right now ...

[2022-06-02 01:32] li-dongxu opened #34 "There seems to be something wrong when I use your main.yml in your knowledge_garden repo for auto commit ..."
I have the same problem that also appeared in your repo's auto commit.
https://github.com/pengx17/knowledge-garden/actions/runs/2419595940
Even when I tried to new a repo and add the workflow at once, it got the same failure....
(And I am new to LogSeq and git, I wonder if have to use docker to take advantage of your publishing tool, or just commit and push my local folder of my desktop LogSeq app

[2022-06-02 03:27] pengx17 commented on #34
Yeah, I saw the error popping up yesterday. Will take a look soon.

[2022-06-02 05:44] ygr99 commented on #34
me too

[2022-06-02 14:08] pengx17 commented on #34
It seems there has been some changes introduced upstream that broke the automation script. Please try use the `master` version instead like what I did in https://github.com/pengx17/knowledge-garden/commit/c3f7ad812ba58f26ee3d6daafcdb889deff90aa1 for now

[2022-06-02 14:11] li-dongxu commented on #34
Got it, I'll try it later! Thanks for your great contribution towards the LogSeq group!

[2022-06-02 15:10] #34 closed, assigned to nobody

[2022-06-02 15:11] li-dongxu commented on #34
I've tried your new changes and it works perfectly! Thanks~!

[2022-07-09 22:35] mklilley opened #36 "Enabling export.css"
Hello and thank you so much for making this Github action. I followed your instructions and got some lovely github pages from my Logseq notes.

The one thing I couldn't get to work is `export.css` styles.

Here is how it is supposed to work:
If you have styles in a file called `export.css` (inside the same folder as `custom.css`) then, when you come to export the graph, logseq uses the styles insi

[2022-07-10 07:55] pengx17 commented on #36
The reason is because by default the Logseq version (when you specify `version: master` in the pengx17/logseq-publish field) being used in this action is outdated and does not support `export.css` which is introduced in a later version.
In the mean time, if you would want to use the action to publish your graph, you can move the contents of export.css to custom.css, which should work normally.
I w

[2022-07-10 09:35] mklilley commented on #36
Thanks for getting back to me @pengx17 . After doing a bit of digging I also realised export was a recent thing. I completely appreciate that you might not have time to update the Action and I want to thank you again for making this version - it's great.

If you have a little time (or anyone else who sees this) I'd appreciate your thoughts on what goes wrong when one tries to use the action with L

[2022-07-10 10:13] Xuanwo commented on #36
Hi, please try `version: nightly` which is built two days ago.

[2022-07-10 17:37] mklilley commented on #36
Thanks for the advice @Xuanwo . I just tried it and have the same problem :-(

![Screenshot 2022-07-10 at 18 36 30](https://user-images.githubusercontent.com/7937044/178155764-057133ac-7d6f-40bb-be92-9ba9cbe55d15.png)

[2022-07-10 18:08] mklilley commented on #36
Ok, I've narrowed it down a bit now.

From the pic in the last post you can see on line 113 that `graphDistPath` is defined because Trace file was successfully saved and that variable is required to export the Trace (as you can see on line [173](https://github.com/pengx17/logseq-publish/blob/main/publish.mjs#L173) and line [210](https://github.com/pengx17/logseq-publish/blob/main/publish.mjs#L210)

[2022-07-11 02:04] Xuanwo commented on #36
I'm a bit confused. Can you try `cp export.css custom.css` before publishing, so that we can make sure our graph && setups are working?

[2022-07-11 07:28] mklilley commented on #36
Hello again @Xuanwo . I'm happy to try but I'm not sure that I understand. Are you worried that I've not got a `custom.css` file? Here is the repo https://github.com/mklilley/Bhatia where you can see the export.css and custom.css inside of logseq folder

[2022-07-11 08:24] Xuanwo commented on #36
I forked the project here: https://github.com/Xuanwo/Bhatia

![image](https://user-images.githubusercontent.com/5351546/178220727-af97f1b1-7a3d-4835-87e3-0c2358f289d2.png)

I'm guessing the latest version of logseq publishing feature is broken if `export.css` exists.

Before @pengx17 addresses the root cause, please use a workaround to fix this:

[code]

[2022-07-11 09:43] mklilley commented on #36
Thanks for the workaround @Xuanwo .

I created a new repo without `export.css` and using `nightly`. I get the same errors.

See https://github.com/mklilley/test

<img width="1039" alt="Screenshot 2022-07-11 at 10 38 45" src="https://user-images.githubusercontent.com/7937044/178235851-b6600338-bbae-40dd-bc67-8d199a0d1879.png">

So, it seems like it's not a problem with `export.css`

[2022-07-11 10:00] Xuanwo commented on #36
Your conclusion is correct. `nightly` is broken entirely. Maybe `logseq` updated the UI layout that `logseq-publish` depends on.

[2022-07-11 11:55] pengx17 commented on #36
I spend some time today and it looks like the issue is related to an issue upstream. See my fix in  https://github.com/logseq/logseq/pull/5997

[2022-07-14 07:34] pengx17 commented on #36
The issue should have been fixed. Please try again with `master` version. Your graph should be exported normally and use `export.css` instead of `custom.css`.

[2022-07-15 13:05] mklilley commented on #36
Amazing - it works. Thanks so much @pengx17

[2022-07-15 13:34] pengx17 commented on #36
I believe the issue has been fixed. Closing

[2022-07-15 13:34] #36 closed, assigned to nobody

[2022-08-08 23:22] Poltergeist opened #37 "Question: Why is my published repository empty"
I have a new logseq graph which I want to publish however after using this action with a copy paste from the example I am getting an empty result. I tried debugging but I wasn't able to find my error. I did everything I could following the documentation.

This is the repository https://github.com/Poltergeist/cedh-graph/
This is the workflow file: https://github.com/Poltergeist/cedh-graph/blob/main

[2022-08-09 02:06] pengx17 commented on #37
By default, all pages in logseq are private and not enabled for publishing. You can turn "All pages public when publishing" in the settings and try again.
<img width="1039" alt="image" src="https://user-images.githubusercontent.com/584378/183547754-2ab48f08-aa15-4c0a-8407-3800b8f342b7.png">

[2022-08-09 02:24] #37 closed, assigned to nobody

[2022-08-09 05:17] Poltergeist commented on #37
Thanks I assume this will resolve my issue.

[2022-08-18 12:02] heberleh opened #38 "Publishing all pages"
Since I have many many pages, and logseq doesn't seem to have a way to mark Pages and referenced pages as public,

would it be possible to publish public and children/referenced/linked pages or all pages?

Or specify a .json that it will be published from?

[2022-08-18 12:06] Xuanwo commented on #38
![image](https://user-images.githubusercontent.com/5351546/185390763-4a512174-5119-49df-aa51-2c6c9c0e9074.png)

[2022-08-18 12:50] heberleh commented on #38
Thanks for recommending this! I tried it, but for some reason it didn't work. Just switching and committing to github didn't change the output after the workflow ran.

[2022-08-18 12:53] heberleh commented on #38
Favorites is also not exported. I think that's because the Favorite page is empty, although my favorites list on the left-bar is not empty. This seems to be a bug from LogSeq and maybe the public pages thing too?

[2022-08-18 12:54] Xuanwo commented on #38
I think so.

[2022-08-18 13:27] heberleh commented on #38
Since this workflow will publish the public pages, and the "all as public pages" is set in the "settings" `config.edn` file, and this file is in the git repository being published, I think this would not be a bug from LogSeq.

Favorites from the file Favorites are also not read as "Favorites in the left bar" by the publishing workflow (nor by LogSeq). LogSeq read favorites from the `config.edn`, w

[2022-08-21 08:27] myoursh opened #39 "Page Propety is recognized as a page"
# Page propeties are recognized as pages

## logseq desktop view
![image](https://user-images.githubusercontent.com/107984231/185782020-1dc25da0-92f3-4b25-be01-531d364c586c.png)
## Published web page view
![image](https://user-images.githubusercontent.com/107984231/185782065-3b988d8d-68dd-49e0-9132-12b0edfda58e.png)
![image](https://user-images.githubusercontent.com/107984231/185782098-7139fe26-b5

[2022-08-25 18:37] javierfuentesm opened #40 "Problem deploying"
Hey Guys,

A the beginning the site was being deployed  in blank , then I make all the pages public, but now the page doesn't load anything
Here is my repo: https://github.com/javierfuentesm/logseq
the page
https://javierfuentesm.github.io/logseq/

And I see these errors on the console
![image](https://user-images.githubusercontent.com/19244527/186742714-ede4d9fd-2b59-446f-a2ec-d266bae83a5f.png)
!

[2022-08-25 22:17] javierfuentesm commented on #40
when I download it locally what is being generated on gh-pages, it doesn't work until I replace the folders of assets and statics

[2022-08-26 00:09] javierfuentesm commented on #40
i think the issue is that I'm using plugins and the version of logseq doesn't have so it doesn't generate the necessary files, si there a way to fix this? i pushed the necessary files to that branch but it replaces all the files including the scripts

[2022-08-26 07:52] pengx17 commented on #40
I have checked your site at [javierfuentesm.github.io/logseq](https://javierfuentesm.github.io/logseq/), but it seems it was working fine. I am not exactly sure why the 404 errors - maybe base URL is misconfigured,  or the deployment is failed, or GitHhub pages server did not pick the assets from your gh-pages yet. 🤔

[2022-08-26 07:55] Xuanwo commented on #40
Please try removing/disabling all plugins, rebuild index and try again.

[2022-08-26 07:57] pengx17 commented on #39
看样子应该是上游的问题 🤔

[2022-08-26 15:30] javierfuentesm commented on #40
Hi, i fixed it by committing directly to the branch the right assets and then changing the yml changing the clean property in order to exclude the static folder in that way my site started working , the bad thing is that if i add a new plugin I'm gonna have to do that process manually again

[2022-09-03 16:02] asandikci opened #41 "Couldn't build main.yml, Timeout 30000ms exceeded while waiting for event "window""
Hello,
I was trying to publish my logseq notes on web and tried to use this action. I used [this](https://github.com/pengx17/knowledge-garden/blob/main/.github/workflows/main.yml) main.yml file because you referred this file. But build were not successful. <br>
Error:
[code]
I guess your [knowledge-garden](https://github.com/pengx17/knowledge-garden) repository have same [issue](https://github.com

[2022-09-03 16:13] Xuanwo commented on #41
Try the latest version instead: https://github.com/Xuanwo/Xuanwo/blob/master/.github/workflows/publish.yml

[2022-09-03 16:47] asandikci commented on #41
@Xuanwo I guess this file is deploying to Vercel. Do I have to use vercel or do you suggest it really?

[2022-09-03 17:40] Xuanwo commented on #41
You can replace the vercel part with github pages.

[2022-09-03 17:55] asandikci commented on #41
Oh, I replaced the vercel part and now working. Thank you very much :)

[2022-09-03 17:55] #41 closed, assigned to nobody

[2022-09-04 03:27] pengx17 commented on #41
Sorry, I attempted to use a new build for logseq-publish, but it did not work because the upstream code change. I haven't got a chance to fix the automation script yet. Please use `master` version instead

[2022-09-14 11:23] xiang578 opened #42 "page alias 失效"
logseq-publish 版本 0.1.6

我有一个页面 HierETA，定义了 alias 为 Interpreting Trajectories from Multiple Views A Hierarchical Self-Attention Network for Estimating the Time of Arrival。使用push发布后，alias 无法正确跳转到 HierETA 的页面

![image](https://user-images.githubusercontent.com/12624910/190140704-0e0f1fae-2f6e-4999-9263-d23f231f3ff9.png)

https://www.xiang578.com/#/page/hiereta

点击 https://www.xiang578.com/#/page/Cha

[2022-09-15 06:07] rebron1900 opened #43 "卡在graph-validator-test上"
提示这个错误

[code]

[2022-09-15 07:28] pengx17 commented on #43
这个错误是在哪里报出来的?

[2022-09-15 13:26] rebron1900 commented on #43
已解决，不能直接用readme.md里的那一段代码

[2022-09-15 13:26] #43 closed, assigned to nobody

[2022-09-15 13:53] Xuanwo commented on #32
I'm not interested in this issue, let's close.

[2022-09-15 13:53] #32 closed, assigned to nobody

[2022-09-15 13:53] Xuanwo commented on #33
I'm not interested in this issue, let's close.

[2022-09-15 13:53] #33 closed, assigned to nobody

[2022-09-18 14:13] daydemir commented on #33
Hi all, thought I'd mention what I'm working on as it's relevant to this question.

I also wanted to move away from a single-page application and use a static site generator, and additionally I wanted to decouple the UI of my published notes from Logseq's UI, but still maintain all the structure from Logseq (block references, backlinks, etc). So I am working on this publishing flow:

1. Extract co

[2022-09-19 06:02] pengx17 commented on #33
@daydemir Hi, thanks for sharing your interesting approach!

[2022-09-19 06:51] tiensonqin commented on #33
@daydemir Hi, thanks for the sharing, and your website looks beautiful!

You can use https://github.com/logseq/nbb-logseq to parse the blocks (db) from markdown/org files without requiring the desktop app. [This](https://github.com/logseq/nbb-logseq/blob/main/examples/fly-io/server.cljs#L52-L53) is an example to build a db from files and enable queries remotely.

[2022-09-19 14:23] logseq-cldwalker commented on #33
@daydemir https://github.com/logseq/graph-validator is another good example as it demonstrates using nbb-logseq from a github action. You may also be interested in https://github.com/dom8509/logseq-to-markdown which is using nbb-logseq to export to hugo. Also Durham represent 😄

[2022-09-19 19:19] daydemir commented on #33
@tiensonqin @logseq-cldwalker thanks so much for these pointers! I didn't know about nbb-logseq, will take a look at that and the graph-validator.

I also hadn't seen this specific md conversion before so I'll need to take a look (looks like it might be related to logseq-schrodinger), but everywhere I've seen conversions to md files for Hugo it misses a couple things that I wanted to support:
* Un

[2022-09-30 18:48] logseq-cldwalker commented on #39
@myoursh Hi. Properties create pages by default. To turn off this behavior, add to your `logseq/config.edn` file - ` :property-pages/enabled? false`

[2022-10-06 06:36] fortunehan opened #45 "Export failed in action"
Hi @pengx17 ,

May I seek your help to check an error?

I am trying the action to publish public notes, but got below error.
Seems the "export graph" button cannot be click.
Below is part of action log.

[code]

Below is my workflow yml
[code]

[2022-10-06 08:59] Xuanwo commented on #45
Please check if your graph can be exported locally. Seems you have a duplicate page.

[2022-10-06 14:43] fortunehan commented on #45
The graph can be exported locally.

<img width="305" alt="image" src="https://user-images.githubusercontent.com/9983619/194342974-de3dec3c-6fd2-4c21-80e8-b463e7274647.png">

[2022-10-06 14:48] fortunehan commented on #45
Attached full logs

[code]

[2022-10-07 08:28] pengx17 commented on #45
I am not sure, but it seems you do have a duplicate file according to this line

Please try re-indexing locally and do another export and see if that could still succeed.

[2022-10-07 14:11] fortunehan commented on #45
I tried to git clone my repo in a folder, open logseq new window -> load the graph -> export graph -> export public pages -> open the index.html, I can see pages(I only set 2 pages as public) in the browser normally. 🥲

Anyway I can know what files are duplicated?

[2022-10-07 14:20] fortunehan commented on #45
I have over 1300 pages but only set 2 page as public for testing. Everything works fine when I export and open index.html in local.

[2022-10-07 14:28] pengx17 commented on #45
@fortunehan if you do a local reindexing, did you see any error prompting in the top-right corner?

[2022-10-08 01:02] fortunehan commented on #45
No error prompting in the top-right corner.
I hit duplicated error before, but already resolved and pushed to remote.

[2022-10-08 02:29] pengx17 commented on #45
Could you please share the trace.zip file that is uploaded to the action artifacts?

[2022-10-08 04:31] fortunehan commented on #45
After removed some files, I guess maybe the journals/2022_04_24_BASE_16591.md caused the issue.
Now actions are working fine. The branch gh-pages is already created.
But the fortunehan.github.io/xxx is 404, I think it is github pages related issue.

Thanks @pengx17 and @Xuanwo for your helping!

[2022-10-08 04:31] #45 closed, assigned to nobody

[2022-10-08 04:40] Xuanwo commented on #38
Related to https://github.com/logseq/logseq/issues/5065

[2022-10-27 08:03] WsinGithub commented on #17
Try [配置 Logseq 自动发布相关流程](https://logseq.abosen.top/#/page/%E9%85%8D%E7%BD%AE%20logseq%20%E8%87%AA%E5%8A%A8%E5%8F%91%E5%B8%83%E7%9B%B8%E5%85%B3%E6%B5%81%E7%A8%8B).

[2022-10-27 08:10] WsinGithub opened #48 "How to publish with specific release of Logseq？"
When publishing, latest releases of Logseq often have bugs.

So if it is possible to publish with the release I want, such as 0.7.5 which is used now on my Desktop.

---
新版本发布时或多或少有 bug，请问如何选择特定版本进行发布呢？

譬如打算未来长期使用 0.7.5 作为发布版本。

:D

[2022-10-27 08:12] WsinGithub commented on #48
0.8.8 没法折叠，0.8.9 直接把 https://logseq.pro/ 的主页搞炸了 😢

https://github.com/logseq/logseq/issues/7118

[2022-10-27 08:15] pengx17 commented on #48
The publish docker image is built manually and there are only a few of them, which can be found in https://github.com/pengx17/logseq-publish/pkgs/container/logseq-publish/versions. Note you can ignore the long hashed versions.
To use a specific version,  use the following:

[code]

[2022-10-27 11:26] WsinGithub commented on #48
It doesn't work. 😢

![image](https://user-images.githubusercontent.com/55137994/198272050-9077eafd-d621-45e5-b404-7c1cb17988ea.png)
---
![image](https://user-images.githubusercontent.com/55137994/198271973-20358140-b980-4336-b777-474fa5281c6a.png)

[2022-10-27 12:00] pengx17 commented on #48
This line is not the real error. Please paste the full message if possible.

[2022-10-27 12:08] WsinGithub commented on #48
[code]

[2022-10-27 12:10] pengx17 commented on #48
Is your graph publicly available so that I can take a look?

[2022-10-27 12:12] WsinGithub commented on #48
It is a private repo, but I invited you as a collaborator :D

[2022-10-27 12:18] pengx17 commented on #48
I guess 0.7.6 version is broken. I am not sure why and I don't feel like fixing issues in old versions 😅

[2022-10-27 12:23] WsinGithub commented on #48
Still, many thx ❤

[2022-11-05 19:50] wramalho opened #49 "White background in mobile browser"
Accessing pages published through logseq-publish (such as my own or pengx17/knowledge-garden) displays a white background if using a mobile browser. Is it an issue with my mobile browser (Chrome, Android 12, Xiaomi POCO f13) or is there another reason for that?

By white background I mean - most custom CSS is displayed, but the color of the background is changed to white.

Best regards,

[2022-11-06 03:09] pengx17 commented on #49
Does it work on a computer web browser?

[2022-11-07 05:13] #40 closed, assigned to nobody

[2022-11-08 17:05] wramalho commented on #49
Yes! In my computer web browser (both Windows and Linux; Chrome and Librewolf, respectivelly). I will provide screenshots later today